LLM_PROVIDER=ollama

OLLAMA_MODEL=qwen3.5
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_REQUEST_TIMEOUT=120.0

VLLM_URL_BASE=http://localhost:9999
VLLM_API_KEY=vllm-api-key
VLLM_MODEL=gpt-oss

EMBEDDING_MODEL=all-MiniLM-L6-v2

SIMILARITY_TOP_K=5
